@define-color blue_1 {color4};
@define-color blue_2 {color4};
@define-color blue_3 {color12};
@define-color blue_4 {color12};
@define-color blue_5 {color12};
@define-color green_1 {color2};
@define-color green_2 {color2};
@define-color green_3 {color10};
@define-color green_4 {color10};
@define-color green_5 {color10};
@define-color yellow_1 {color3};
@define-color yellow_2 {color3};
@define-color yellow_3 {color11};
@define-color yellow_4 {color11};
@define-color yellow_5 {color11};
@define-color orange_1 color-mix(in lch increasing hue, {color1}, {color3} 50%);
@define-color orange_2 color-mix(in lch increasing hue, {color1}, {color3} 50%);
@define-color orange_3 color-mix(in lch increasing hue, {color9}, {color11} 50%);
@define-color orange_4 color-mix(in lch increasing hue, {color9}, {color11} 50%);
@define-color orange_5 color-mix(in lch increasing hue, {color9}, {color11} 50%);
@define-color red_1 {color1};
@define-color red_2 {color1};
@define-color red_3 {color9};
@define-color red_4 {color9};
@define-color red_5 {color9};
@define-color purple_1 color-mix(in lch increasing hue, {color1}, {color4} 50%);
@define-color purple_2 color-mix(in lch increasing hue, {color1}, {color4} 50%);
@define-color purple_3 color-mix(in lch increasing hue, {color9}, {color12} 50%);
@define-color purple_4 color-mix(in lch increasing hue, {color9}, {color12} 50%);
@define-color purple_5 color-mix(in lch increasing hue, {color9}, {color12} 50%);
@define-color brown_1 {color5};
@define-color brown_2 {color5};
@define-color brown_3 {color5};
@define-color brown_4 {color13};
@define-color brown_5 {color13};
@define-color light_1 {color7};
@define-color light_2 {color7};
@define-color light_3 {color15};
@define-color light_4 {color15};
@define-color light_5 {color15};
@define-color dark_1 {color0};
@define-color dark_2 {color0};
@define-color dark_3 {color7};
@define-color dark_4 {color7};
@define-color dark_5 {color7};

@define-color accent_bg_color @blue_3;
@define-color accent_fg_color {color15};
@define-color destructive_bg_color @red_3;
@define-color destructive_fg_color {color15};
@define-color success_bg_color @green_4;
@define-color success_fg_color {color15};
@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color rgba(0,0,0,0.8);
@define-color error_bg_color @red_3;
@define-color error_fg_color {color15};
@define-color accent_color mix(@accent_bg_color,{color0},0.17);
@define-color destructive_color mix(@destructive_bg_color,{color0},0.17);
@define-color success_color mix(@success_bg_color,{color0},0.17);
@define-color warning_color mix(@warning_bg_color,{color0},0.17);
@define-color error_color mix(@error_bg_color,{color0},0.17);
@define-color window_bg_color {color15};
@define-color window_fg_color {color0};
@define-color view_bg_color {color15};
@define-color view_fg_color {color0};
@define-color headerbar_bg_color {color7};
@define-color headerbar_fg_color {color8};
@define-color headerbar_border_color rgba(0, 0, 6, 0.8);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 6, 0.12);
@define-color headerbar_darker_shade_color rgba(0, 0, 6, 0.12);
@define-color sidebar_bg_color {color7};
@define-color sidebar_fg_color {color8};
@define-color sidebar_backdrop_color {color8};
@define-color sidebar_shade_color rgba(0, 0, 6, 0.07);
@define-color sidebar_border_color rgba(0, 0, 6, 0.07);
@define-color card_bg_color {color15};
@define-color card_fg_color {color0};
@define-color card_shade_color rgba(0, 0, 6, 0.07);
@define-color dialog_bg_color {color15};
@define-color dialog_fg_color {color0};
@define-color popover_bg_color {color15};
@define-color popover_fg_color {color0};
@define-color popover_shade_color rgba(0, 0, 6, 0.07);
@define-color thumbnail_bg_color {color15};
@define-color thumbnail_fg_color {color0};
@define-color shade_color rgba(0, 0, 6, 0.07);
@define-color scrollbar_outline_color {color15};
@define-color panel_bg_color {color0};
@define-color panel_fg_color {color15};
@define-color theme_fg_color @window_fg_color;
@define-color theme_text_color @view_fg_color;
@define-color theme_bg_color @window_bg_color;
@define-color theme_base_color @view_bg_color;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;
@define-color insensitive_bg_color mix(@window_bg_color,@view_bg_color,0.4);
@define-color insensitive_fg_color alpha(@window_fg_color,0.5);
@define-color insensitive_base_color @view_bg_color;
@define-color theme_unfocused_fg_color mix(@window_fg_color,@window_bg_color,0.5);
@define-color theme_unfocused_text_color @view_fg_color;
@define-color theme_unfocused_bg_color @window_bg_color;
@define-color theme_unfocused_base_color @window_bg_color;
@define-color theme_unfocused_selected_bg_color @accent_bg_color;
@define-color theme_unfocused_selected_fg_color @accent_fg_color;
@define-color unfocused_insensitive_color mix(mix(@window_fg_color,@window_bg_color,0.5),@window_bg_color,0.5);
@define-color borders mix(currentColor,@window_bg_color,0.85);
@define-color unfocused_borders mix(currentColor,@window_bg_color,0.81);
@define-color warning_color @warning_color;
@define-color error_color @error_color;
@define-color success_color @success_color;
@define-color wm_title shade(@window_fg_color, 1.8);
@define-color wm_unfocused_title mix(@window_fg_color,@window_bg_color,0.5);
@define-color wm_highlight alpha({color15},0.5);
@define-color wm_borders_edge alpha({color15},0.5);
@define-color wm_bg_a shade(@window_bg_color, 1.2);
@define-color wm_bg_b @window_bg_color;
@define-color wm_shadow alpha({color0}, 0.35);
@define-color wm_border alpha({color0}, 0.18);
@define-color wm_button_hover_color_a shade(@window_bg_color, 1.3);
@define-color wm_button_hover_color_b @window_bg_color;
@define-color wm_button_active_color_a shade(@window_bg_color, 0.85);
@define-color wm_button_active_color_b shade(@window_bg_color, 0.89);
@define-color wm_button_active_color_c shade(@window_bg_color, 0.9);
@define-color content_view_bg @view_bg_color;
@define-color text_view_bg @view_bg_color;
